:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* LINKS */
a:link {
  color: rgb(167, 0, 0);
}

a:visited {
  color: rgb(149, 0, 0);
}

a:hover {
  color: rgb(255, 0, 0);
}

a:active {
  color: rgb(255, 255, 255);
}

/* SCHRIFTEN */

h1 { 
  color: #ffffff; 
  text-align: center;
  font-size: 3em; 
  font-weight: bold; 
  text-shadow: 2px 2px 0 #000, 
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: .75em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px #000000;
  background: #464646;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 7px #00a2ff;
  background: #001f7d6b;
}

::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 7px #ea00ff;
  background: #79007d31;
}

/* MAIN BODY */

main {
  text-align: center;
  padding: 1em;
  max-width: 240px;
  margin: 0 auto; 
}

@media (min-width: 1px) {
  main {
    max-width: none;
  }
}
