/* MENUBAR */
.menubar {
  display: flex;
  position: fixed;
  flex-wrap: nowrap;
  top: 0;
  left: 0;
  width: 100%;
  height: 4em;
  background-color: #000000;
  overflow: visible;
  align-items: center;
}

.menubar a {
  float: left;
  flex-wrap: nowrap;
  color: rgb(255, 255, 255);
  text-align: left;
  padding: 1em;
}

.menubar img {
  margin-top: 0.75em;
  height: 3em;
  float: left;
}

.menubar p {
  float: left;
  font-size: 1.3em;
  font-weight: bold;
}

.txt {
  float: left;
  margin-left: 1em;
  font-size: 1.3em;
  font-weight: bold;
}

.menubar a:hover {
  font-weight: bolder;
  color: rgb(0, 52, 131);
}

.menubar a.active {
  color: #3498db;
}

.menu_right {
  margin-left: auto;
  top: 0;
  right: 0;
  text-align: right;
  text-decoration: none;
  font-size: 17px;
}

.v-line {
  border-left: thin solid #ffffff;
  height: 75%;
}

/* ACCOUNT-DROPDOWN */
.dropdown {
  position: relative;
  margin-left: auto;
}

.dropdown p {
  margin-right: 1em;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 80%;
  background-color: #000000;
  min-width: 10em;
  max-width: 10em;
}

.dropdown-content button {
  color: #ffffff;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content button {
  padding: 0;
  width: 100%;
  height: 2em;
  font-size: 1em;
  font-weight: bold;
  background-color: #00000000;
  outline: none;
  border: none;
}

.dropdown-content button:hover {
  color: #3498db;
  cursor: pointer;
}
