.filesBig {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.bigFileContainer {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
}

.bigFileDiv {
    position: relative;
    display: flex;
    flex-direction: row;
}

.bigFileDiv:hover {
    cursor: pointer;
}

.bigFileDiv a {
    display: block;
    height: 100%;
    background-color: red;
}

.bigFileDiv img {
    width: 10em;
}

.bigFileBtnDiv {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.bigFileBtnDiv button {
    background: none;
    width: 3em;
    height: 3em;
    border: none;
}

.bigFileBtnDiv img {
    -webkit-filter: invert(1);
    filter: invert(1);
    position: relative;
    width: 2em;
}

.bigFileBtnDiv button:hover {
    border: none;
    cursor: pointer;
}

.bigFileBtnDiv img:hover {
    width: 2.2em;
}

.nameDiv {
    padding-top: .25em;
}

.nameDiv label {
    display: flex;
    font-size: large;
}