main {
    display: flexbox;
    margin: auto;
    margin-top: 5em;
    width: 95%;
    min-height: 40em;
    padding-bottom: 5em;
    background-color: #000000;
    border: .25em solid #000000;
}

.blurr {
    filter: blur(5px);
}

main div {
    margin: 1em;
}

.register {
    background-color: rgba(0, 0, 0, 0.897);
    border: 2px solid rgb(0, 52, 131);
    position: fixed;
    margin: 0;
    padding: 2em;
    top: 50%;
    left: 20%;
    transform: translate(-0%, -50%);
}

.register button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    border-radius: 0;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}

.register button:hover {
    background-color: rgb(0, 52, 131);
    color: #9c9c9c;
}

#account {
    display: none;
}