/* HEADER DIV */
.flex {
    display: flex;
    justify-content: center;
}

.flex button {
    padding: 1em 2em;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}

/* RECENTLY USED */
.filesBig {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.filesBig button {
    position: static;
    border: 1px solid red;
    margin: 1em;
    padding: 1em;
    border-radius: 3px;
    background: none;
    width: auto;
}

.filesBig button:hover {
    cursor: pointer;
}

.filesBig img {
    width: 12em;
}