.box {
    margin: auto;
    margin-top: 5em;
    width: 95%;
    padding-bottom: 5em;
    background-color: #00000045;
    border: .25em solid #000000;
}

.box h1 {
    color: #ffffff; 
    margin-left: 1em;
    text-align: left;
    font-size: 3em; 
    font-weight: bold; 
    text-shadow: 2px 2px 0 #000, 
}

/* RECENTLY USED */


.ru {
    justify-content: center;
}

.ru button {
    position: relative;
    border: none;
    background: none;
    width: 20em;
}
