/* MENUBAR */

.menubar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000000;
  align-items: center;
  overflow: hidden;
}

.menubar a {
  float: left;
  color: #ffffff;
  text-align: left;
  padding: 1em;
  text-decoration: none;
}

.menubar img {
  height: 3em;
  float: left;
  color: #ffffff;
  font-size: 1em; /* Die Schriftgröße für das Bild */
}

.menubar p {
  float: left;
  padding-left: 1em;
  font-size: 1.3em;
  font-weight: bold;
  color: #ffffff;
  line-height: 0em; /* Hier wird die Zeilenhöhe auf die Höhe des Menüs (3em) festgelegt */
}

  
  .menubar a:hover {
    background-color: #0c5186;
    color: black;
  }
  
  .menubar a.active {
    background-color: #0295ffb6;
    color: rgb(255, 255, 255);
  }

  .menu_right {
    margin-left: auto;
    top: 0;
    right: 0;
    color: #ffffff;
    text-align: right;
    text-decoration: none;
    font-size: 17px;
  }